.responsive-calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  width: 100%;
}

.responsive-calendar li {
  display: block;
  float: left;
  width: 13%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

.responsive-calendar li li {
  border: none;
  width: auto;
}

.responsive-calendar li .day,
.responsive-calendar li .month {
  display: none;
}

.responsive.calendar-calendar .month-view {
  width: 30%;
  float: left;
  margin-right: 10px;
}

.responsive.calendar-calendar .month-view .mini .day,
.responsive.calendar-calendar .month-view .mini .month {
  display: none;
}

.responsive.calendar-calendar .month-view td,
.responsive.calendar-calendar .month-view td.mini.empty {
  border: none;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
}

.responsive.calendar-calendar .month-view tbody {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.feed-icon {
  clear: both;
  margin: 30px 0;
}

@media only screen and (max-width : 768px) {

  .responsive-calendar .weekdays {
    display: none;
  }

  .responsive-calendar li {
    height: auto!important;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: -1px;
    text-indent: 10px;
  }

  .responsive-calendar li .day,
  .responsive-calendar li .month {
    display: inline;
  }

  .responsive-calendar li.out_of_range {
    display: none;
  }

  .responsive.calendar-calendar .month-view {
    width: auto;
    float: none;
    clear: both;
    margin-right: none;
  }
}
